@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans&display=swap');

:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --light: #f5f4f0;
  --dark-main: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --yellow: #fe8a02;
  --yellow-dark: #ea7600;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.d-flex {
  display: flex;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-0 {
  margin-top: 0;
}

.c-yellow {
  color: var(--yellow);
}

.c-white {
  color: var(--white);
}

.c-dark-trans {
  color: var(--dark-transparent);
}

.c-brown {
  color: var(--brown);
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video {
  position: relative;
  top: 100px;

  margin-top: -100px;
}

body {
  margin: 0;

  overflow-x: hidden;

  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: normal;
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.subtitle {
  margin: 0;

  font-size: 24px;
  font-family: "Neucha", cursive;
}

section {
  margin: 0;
}

.bg-questions {
  position: relative;

  z-index: 1;
}

.bg-questions::before {
  position: absolute;

  z-index: -1;

  display: block;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 10%;

  content: "";
}

.bg-dark-main {
  background: var(--dark-main);
}

.bg-light {
  background: var(--light);
}

.bg-brown {
  background: var(--brown);
}

.main-image {
  top: -45px;
  right: -268px;

  z-index: -1;

  height: 525px;
}

.container {
  box-sizing: border-box;

  width: 100%;
  max-width: 1110px;
  height: 100%;

  margin: 0 auto;
  padding: 100px 0;
}

.col {
  flex-basis: 0;
  flex-grow: 1;

  max-width: 100%;

  padding: 0 15px;
}

.card-col {
  flex: 0 0 33.333333%;

  box-sizing: border-box;

  max-width: 33.333333%;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -15px;
}

.button {
  display: inline-block;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background: var(--yellow);
}

.button:hover {
  background: var(--yellow-dark);

  cursor: pointer;
}

.video-section {
  padding: 100px 0 0 0;

  text-align: center;
}

.video-label {
  margin: 30px 0;
}

iframe {
  border: none;
}

.cards-section {
  padding: 100px 0 0 0;
}

.card-link {
  display: block;

  height: 290px;
  padding: 24px;

  background: var(--light);
  cursor: pointer;
}

.card-link,
.card-link:visited,
.card-link:active {
  color: var(--dark);
  text-decoration: none;
}

.card-link:hover {
  color: var(--white);

  background: var(--yellow);
}

.card-link:hover > h3 {
  color: var(--white);
}

.cards-section-heading {
  font-size: 52px;
}

.number {
  margin-bottom: 35px;

  font-size: 64px;
  line-height: 1;
}

.info-heading {
  padding: 5px 10px;

  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.mailing-box {
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.email-button {
  height: 50px;

  border: 1px solid transparent;
}

.email-button::before {
  content: url(../images/send.svg);
}

.email-input {
  box-sizing: border-box;
  width: 400px;
  height: 50px;
  padding: 0 0 0 15px;

  font-size: 18px;

  border: 1px solid transparent;
}

.email-input::placeholder {
  opacity: 20%;
}

.agreement-text {
  font-size: 12px;
}

.agreement-link,
.agreement-link:visited,
.agreement-link:active {
  color: var(--white);
}

.contact-info {
  flex-direction: column;

  font-size: 14px;
  text-align: center;
}

img {
  vertical-align: middle;
}

.label-text {
  font-size: 18px;
}
